<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="checkup_suits" value="体检套餐一;体检套餐二;体检套餐三"/>
    <add key="coprotion" value="大连盐化集团有限公司;大连盐化集团有限公司职工医院;大连盐化集团有限公司职工医院2"/>
    <add key="keshi" value="一般体检;内科;外科;放射科;彩超科;耳鼻喉科;眼科"/>
    <add key="yibantijian" value="身高;体重"/>
    <add key="yanke_result" value="未见异常"/>
    <add key="neike_result" value="未见异常"/>
  </appSettings>
</configuration>
